* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
		url(../img/group-of-doctors.jpg) center/cover no-repeat;
	background-size: cover;
	height: 100%;
	background-attachment: fixed;
}



.container {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;

	background-color: #ffffff;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 35px;
	padding-bottom: 50px;
	width: 450px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
	background-color: white;
}

#button-blue {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float: left;
	width: 100%;
	cursor: pointer;
	color: #fff;
	background-color: #21325b;
	border-color: #21325b;
	border: none;
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all 0.3s;
	margin-top: -4px;
	font-weight: 700;
	border-radius: 10px;
	transition: all 0.2s ease-in-out;
}

#button-blue:hover {
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	background-color: #1c2745;
	border-color: #1c2745;
}

.feedback-input {
	color: #3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 1rem;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 0.0625rem solid rgba(33, 50, 91, 0.1);
	border-radius: 10px;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.feedback-input:focus {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
	outline: none;
	padding: 13px 13px 13px 54px;
}


.login-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}


form {
	width: 360px;
}

.goback {
	width: 360px;
}



.login-content h2 {
	margin: 15px 0;
	color: #333;
	font-size: 2.9rem;
}

.login-content .input-div {
	position: relative;
	display: grid;
	grid-template-columns: 7% 93%;
	margin: 25px 0;
	padding: 5px 0;
	border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
	margin-top: 0;
}

.i {
	color: #6d97b3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i {
	transition: .3s;
}

.input-div>div {
	position: relative;
	height: 45px;
}

.input-div>div>h5 {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before,
.input-div:after {
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38a4d3;
	transition: .4s;
}

.input-div:before {
	right: 50%;
}

.input-div:after {
	left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
	width: 50%;
}

.input-div.focus>div>h5 {
	top: -5px;
	font-size: 15px;
}

.input-div.focus>.i>i {
	color: #38a4d3;
}

.input-div>div>input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass {
	margin-bottom: 4px;
}

a {
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover {
	color: #38a4d3;
}

.btn {
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	border: none;
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	margin: 1rem 0;
	background-color: #48a0ec;
	transition: all 0.3s ease;
	cursor: pointer;
}

.btn:hover {
	background-color: #016dcb;
}


@media screen and (max-width: 1050px) {
	.container {
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px) {
	form {
		width: 290px;
	}

	.login-content h2 {
		font-size: 2.4rem;
		margin: 8px 0;
	}

	.img img {
		width: 400px;
	}

	.goback {
		width: 290px;
	}


}

@media screen and (max-width: 900px) {
	.container {
		grid-template-columns: 1fr;
	}

	.img {
		display: none;
	}

	.wave {
		display: none;
	}

	.login-content {
		justify-content: center;
	}
}


.signup-field span a {
	display: inline;
	/* Add this line to make the <a> element inline */
	text-decoration: none;
	color: #999;
	transition: .3s;
}

span {
	color: #333333e6;
}

.signup-field span a:hover {
	color: #38a4d3;
}