<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doğrulama</title>
    <link rel="stylesheet" href="/randevu/randevu_main/styles.css">
</head>

<body>
    <% if (typeof isCodeCorrect !== 'undefined') { %>
        <p class="<% if (isCodeCorrect) { %>success<% } else { %>error<% } %>">
            <% if (isCodeCorrect) { %>
                Doğrulama kodu doğru girildi. Tekrar giriş kısmına yönlendiriliyorsunuz.
            <% } else { %>
                Doğrulama kodu yanlış. Lütfen tekrar deneyiniz.
            <% } %>
        </p>
    <% } %>
    <div id="form-main">
        <div id="form-div">
            <form action="/login/verify_lockout_code" method="post" class="form" id="form1">

                <p style="font-size: 20px;">Şifrenizi 5 seferden fazla yanlış girdiniz. Aynı email için tekrar şifre denemesi yapmak istiyorsanız, lütfen email adresinize gelen 5 haneli kodu giriniz.
                    </p>

                <p class="tel">
                    <input type="" class="feedback-input" pattern="\d{5}" placeholder="Onay kodu" name="authCode"/>

                </p>

                <div class="submit">
                    <input type="submit" value="Onayla" id="button-blue" <% if (typeof isCodeCorrect !== 'undefined' && isCodeCorrect) { %>disabled<% } %> />
                    <div class="ease"></div>
                </div>
            </form>
        </div>

    </div>


</body>

</html>