<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Boostrap 4 responsive Sidebar template with slide in/out effect">
  <meta name="author" content="Simran Singh">
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

  <title>Responsive sidebar - Boostrap 4 - Light</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="/admin_panel/style.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
  <div class="side-bar side-bar-light">
    <nav class="navbar navbar-inverse">
      <div style="text-align: center; display:flex;flex-direction: column;">
        <a style="color: black;" class="navbar-brand">Admin</a>
        <a style="color: gray;" class="navbar-brand">adming@gmail.com</a>
      </div>
      <button class="logout-button">Log Out</button>
      <hr />
      <div class="list-container">
        <ul>
          <li><a href="#" class="active" onclick="toggleLink(event)">Doktorlar</a></li>
          <!-- redirect to these url's of the website like berrakdis.com/admin_panel/gelecel_randevular/ -->
          <li><a href="/admin_panel/gelecek_randevular/" onclick="toggleLink(event)">Gelecek Randevular</a></li>
          <li><a href="/admin_panel/hastalar/" onclick="toggleLink(event)">Hastalar</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- eğer ekleme başarısız olduysa alert çıkar. -->
  <% if (typeof addDoctorSuccessful !== 'undefined') { %>
    <% if (addDoctorSuccessful) { %>
      <script>alert("Doktor başarıyla eklendi!");</script>
    <% } else { %>
      <script>alert("Doktor eklenemedi!");</script>
    <% } %>
  <% } %>

  <!-- update olduğu zaman uyarı çıkar. -->
  <% if (typeof isDoctorUpdated !== 'undefined') { %>
    <% if (isDoctorUpdated) { %>
      <script>alert("Doktor başarıyla güncellendi!");</script>
    <% } else { %>
      <script>alert("Doktor güncellenemedi!");</script>
    <% } %>
  <% } %>


  <!-- delete olduğu zaman uyarı çıkar. -->
  <% if (typeof isDoctorDeleted !== 'undefined') { %>
    <% if (isDoctorDeleted) { %>
      <script>alert("Doktor başarıyla silindi!");</script>
    <% } else { %>
      <script>alert("Doktor silinemedi!");</script>
    <% } %>
  <% } %>
  
  
  <div class="bodyContent">
    <div style="padding:2rem">
      <div class="right-page">
        <div style="display: flex;">
          <div style="flex:10;">
            <h2 id="doctorsHeader">Doktorlar</h2>
          </div>
          <div style="flex:1;"> <button class="add-btn" id="addDoctorBtn" onclick="toggleForm()">+ Doktor Ekle</button>
          </div>
          <div class="form-popup" id="myForm">
            <form action="/admin_panel/create_doctor/" method="post" class="form-container">
              <div style="display: flex; gap: 50px;">
                <h1>Doktor Ekle</h1>
                <a style="cursor: pointer;" onclick="closeForm()"><img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAATxJREFUSEvt1b1KQ0EQhuEnamVn7zUI3oGIoiiihYUoWNpq4QVZqIWIiNjZiIKNot6KP/iDjYxsIASS3ZMDiUW2O5zZeff7dma2YUCrMSCuIbhvzg+t/ldWT+Acu3jOnGwee1jDT7fY3B2P4AlTeMEsHjskXMEZxnCJ+O64cuDYuI0D/nr+FXO4b8u4nFwJ6HeCXtUFt8Pfk/ImvB26iOtcsZQobubYwHFS3oRP4iTZ+4mlEmgkrAKO+E0cpZMEfBxRB19YwE1OafN/VXDsC+WHGE1JQmnc+10ptBfFAwNvJbVxgFarPxBFdVuquorVueKKNiqq6CpWt/Zy39qplwGSVZ6zOlrlAdN4w0zhyLzAat3JFY/EKfbT3O6WL6bYDtbrPhKlRVo5Lmd15YSlG4bgUqdqxw2trm1haYJf26BCH0lwPYsAAAAASUVORK5CYII=" /></a>
              </div>

              <label for="name"><b></b></label>
              <input type="text" placeholder="Doktor Adı" name="personelName" required>

              <label for="surname"><b></b></label>
              <input type="text" placeholder="Doktor Soyadı" name="personelSurname" required>

              <label for="phoneNum"><b></b></label>
              <input type="text" placeholder="Telefon Numarası (5XX)" name="personelPhoneNum" pattern="[0-9]{10}" inputmode="numeric" required>

              <label for="email"><b></b></label>
              <input type="email" placeholder="Email adresi" name="personelEmail" required>

              <label for="password"><b></b></label>
              <input type="text" placeholder="Şifre" name="personelPassword" required>

              <!-- <label for="features"><b></b></label>
              <input type="text" placeholder="Doktor Özellikleri" name="features" required> -->

              <button type="submit" class="btn">Ekle</button>
            </form>
          </div>
        </div>

        <br />
        <button onclick="showDoctors()">Show Doctors</button>

        <table id="doctorsTable">
          <thead>
            <tr>
              <th>Doktor Adı</th>
              <th>Mail Adresi</th>
              <th>Özellikleri</th>
              <th>Eylemler</th>
            </tr>
          </thead>
          <tbody id="doctorsContainer">
            <!-- Doctors information will be displayed here -->
          </tbody>
        </table>

        


        <div class="form-popup" id="myUpdateForm">
          <form action="/admin_panel/update_doctor/" method="post" class="form-container">
            <div style="display: flex; gap: 50px;">
              <h1>Doktor Güncelle</h1>
              <a style="cursor: pointer;" onclick="closeUpdateForm()">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAATxJREFUSEvt1b1KQ0EQhuEnamVn7zUI3oGIoiiihYUoWNpq4QVZqIWIiNjZiIKNot6KP/iDjYxsIASS3ZMDiUW2O5zZeff7dma2YUCrMSCuIbhvzg+t/ldWT+Acu3jOnGwee1jDT7fY3B2P4AlTeMEsHjskXMEZxnCJ+O64cuDYuI0D/nr+FXO4b8u4nFwJ6HeCXtUFt8Pfk/ImvB26iOtcsZQobubYwHFS3oRP4iTZ+4mlEmgkrAKO+E0cpZMEfBxRB19YwE1OafN/VXDsC+WHGE1JQmnc+10ptBfFAwNvJbVxgFarPxBFdVuquorVueKKNiqq6CpWt/Zy39qplwGSVZ6zOlrlAdN4w0zhyLzAat3JFY/EKfbT3O6WL6bYDtbrPhKlRVo5Lmd15YSlG4bgUqdqxw2trm1haYJf26BCH0lwPYsAAAAASUVORK5CYII=" />
              </a>
            </div>
      
            <label for="name"><b></b></label>
            <input type="text" placeholder="Doktor Adı" name="name" required>
      
            <label for="surname"><b></b></label>
            <input type="text" placeholder="Doktor Soyadı" name="surname" required>
      
            <label for="phoneNum"><b></b></label>
            <input type="text" placeholder="Telefon Numarası (5XX)" name="phoneNum" pattern="[0-9]{10}" inputmode="numeric" required>
      
            <label for="email"><b></b></label>
            <input type="email" placeholder="Email adresi" name="email" required readonly>
      
            <label for="password"><b></b></label>
            <input type="text" placeholder="Şifre" name="password" required>

            
      
            <button type="submit" class="btn">Güncelle</button>
          </form>
        </div>



      </div>
    </div>
  </div>

  <script>
    /*
    window.addEventListener("DOMContentLoaded", function(){
      showDoctors();
    });
    */
    // added this now to redirect the user to the homepage when the logout button is pressed.
    document.querySelector('.logout-button').addEventListener('click', function() {
      window.location.href = "/";
    });

    var d_table = document.getElementById("doctorsTable");

    // Get the number of rows in the table
    var d_rowCount = d_table.rows.length - 1;

    // Update the heading dynamically
    var d_header = document.getElementById("doctorsHeader");
    d_header.innerHTML = "Doktorlar (" + d_rowCount + ")";

    function toggleForm() {
      var form = document.getElementById("myForm");
      var body = document.body;
      var addDoctorBtn = document.getElementById("addDoctorBtn");

      if (form.style.display === "block") {
        form.style.display = "none";
        body.classList.remove("darken-bg");
        d_table.style.opacity = "1"; // Reset opacity when form is closed
        addDoctorBtn.disabled = false; // Enable the button when the form is closed
        setInteractionsEnabled(true);
      } else {
        form.style.display = "block";
        body.classList.add("darken-bg");
        d_table.style.opacity = "0.5"; // Set opacity for the table when the form is open
        addDoctorBtn.disabled = true; // Disable the button when the form is open
        setInteractionsEnabled(false);
      }
    }

    function closeForm() {
      var form = document.getElementById("myForm");
      var body = document.body;
      var addDoctorBtn = document.getElementById("addDoctorBtn");

      form.style.display = "none";
      body.classList.remove("darken-bg");
      d_table.style.opacity = "1"; // Reset opacity when the form is closed
      addDoctorBtn.disabled = false; // Enable the button when the form is closed
      setInteractionsEnabled(true);
    }

    function toggleLink(event) {
      var form = document.getElementById("myForm");
      if (form.style.display === "block") {
        event.preventDefault();
      }
    }

    function setInteractionsEnabled(enabled) {
      // Disable/enable anchor links
      var links = document.querySelectorAll(".list-container a");
      links.forEach(function (link) {
        link.classList.toggle("disabled", !enabled); // Add or remove the disabled class
      });

      // Disable/enable buttons in the table
      var buttons = document.querySelectorAll(".event-buttons button");
      buttons.forEach(function (button) {
        button.disabled = !enabled; // Set the disabled property
      });

      // Disable/enable the logout button
      var logoutButton = document.querySelector(".logout-button");
      logoutButton.disabled = !enabled;
    }


    function showDoctors() {
      fetch('/admin_panel/read_doctors')
        .then(response => response.json())
        .then(doctors => {
          const doctorsContainer = document.getElementById('doctorsContainer');
          doctorsContainer.innerHTML = ''; // Clear previous content
  
          doctors.forEach(doctor => {
            const doctorInfo = `
              <tr>
                <td>${doctor.name}</td>
                <td>${doctor.surname}</td>
                <td>${doctor.email}</td>
                <td>${doctor.phoneNum}</td>
                <td>${doctor.title}</td>
                <td>${doctor.clinic}</td>
                <td>
                  <button onclick="openUpdateForm('${doctor.email}')">Update</button>
                  <button onclick="deleteDoctor('${doctor.name}', '${doctor.surname}', '${doctor.email}')">Delete Doctor</button>
                </td>
              </tr>
            `;
  
            doctorsContainer.innerHTML += doctorInfo;
          });
        })
        .catch(error => console.error('Error fetching doctors:', error));
  }

      function openUpdateForm(email) {
        const form = document.getElementById('myUpdateForm');
        form.style.display = 'block';
  
        // Populate the form with the selected doctor's email
        const emailInput = form.querySelector('input[name="email"]');
        emailInput.value = email;
      }
  
      function closeUpdateForm() {
        const form = document.getElementById('myUpdateForm');
        form.style.display = 'none';
      }



      async function deleteDoctor(name, surname, email) {
        try {
            const response = await fetch('/admin_panel/delete_doctor', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    name: name,
                    surname: surname,
                    email: email,
                }),
            });
    
            if (response.ok) {
                // Alert göster
                alert('Doktor başarıyla silindi!');
                // '/admin_panel/doktorlar' sayfasına yönlendir
                window.location.href = '/admin_panel/doktorlar/';
            } else {
                console.error('Error deleting doctor:', response.statusText);
                // Hata işleme
                alert('Doktor silinemedi: ' + response.statusText);
            }
        } catch (error) {
            console.error('Error deleting doctor:', error.message);
            // Hata işleme
            alert('Doktor silinemedi: ' + error.message);
        }
    }
    



  </script>
</body>

</html>