/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Alfa+Slab+One&family=Amatic+SC:wght@700&family=Bodoni+Moda:ital,opsz,wght@1,6..96,600&family=Dancing+Script:wght@700&family=Lobster+Two:ital@1&family=Luckiest+Guy&family=Monoton&family=Pacifico&family=Phudu&family=Playpen+Sans:wght@600&family=Raleway:wght@200&family=Ysabeau+Infant:wght@200&display=swap');

:root {
    --clr-primary-5: #49a6e9;
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-secondary: hsla(182, 63%, 54%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
   
}

/*
Global Styles
*/
html {
    scroll-behavior: smooth;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-secondary);
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}


a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}


h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}



@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

/*  global styles */

/* section */




@media screen and (min-width: 992px) {
    .section-center {
        width: 95vw;
    }
}




.info {
    display: flex;
    flex-direction: column;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    background: var(--clr-white);
    padding: 1.5rem 2rem;

    transition: var(--transition);

}

.info:hover {
    box-shadow: var(--dark-shadow);
}

.map {
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    background: var(--clr-white);
    transition: var(--transition);
    padding: 5px;
}

.map.map:hover {
    box-shadow: var(--dark-shadow);

}

.doctor_container {
    margin-top: 90px;
    text-align: center;
    margin-left: 100px;
        
    height: 100%;
}

.doctor_container h1 {
    margin-top: 10rem;
    margin-bottom: 2rem;
    margin-left: 137px;

}

.myhr {
    height: 1px;
    background-image: linear-gradient (to right, rgba(0, 0, 0, 0), cornflowerblue, rgba(0, 0, 0, 0));
    width: 60%;
    margin: auto;
}

.doctor_subcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-bottom: 10rem;
    margin-top: 1rem;
    /* İçeriği dikey olarak ortala */
}

.doctorimg {
    object-fit: cover;
    border-radius: 50%;
    transition: var(--transition);
    height: 250px;
    width: 250px;
}

.doctorimg:hover {
    box-shadow: var(--dark-shadow);
}


/*
=============== 
Scroll
===============
*/
/* navbar */
nav {
    padding: 1rem 1.5rem;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background: var(--clr-primary-6);
    box-shadow: var(--light-shadow);
    max-height: 100px;
     z-index: 99; 
}


.contact-icon {
    display: flex;
    gap: 15px;
}

.links-container .links a:hover {
    color: #222;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-grey-1);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}

.nav-toggle:hover {
    transform: scale(1.2);
}

.logo {
    height: 50px;
}

.links-container {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links {
    height: 200px;
}


.paragraph p {
    margin-bottom: 0.4rem;
}

.links a {
    background: var(--clr-primary-6);
    color: var(--clr-grey-5);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    font-weight: bold;
    padding: 0.75rem 0;
}

.links a:hover {
    color: var(--clr-grey-1);
}

@media screen and (min-width: 800px) {
    nav {
        background: var(--clr-primary-6);
    }

    .nav-center {
        width: 90vw;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-header {
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }

    .links-container {
        height: auto !important;
    }

    .links {
        display: flex;
    }

    .links a {
        background: transparent;
        color: var(--clr-white);
        font-size: 0.75rem;
        text-transform: capitalize;
        letter-spacing: var(--spacing);
        display: block;
        transition: var(--transition);
        margin: 0 1rem;
        font-weight: bold;
        padding: 0;
    }

    .links a:hover {
        color: var(--clr-white);
    }
}

/* hero */
header {
    max-height: 100vh;
    background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
}

.banner {
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
}

.container h1 {
    color: var(--clr-white);
    text-transform: uppercase;
}

.container p {
    color: var(--clr-white);
    max-width: 25rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
}

.doctor_subcontainer p {
    max-width: 40rem;
    margin-bottom: 1.25rem;
    text-align: left;
}

.img-container {
    display: flex;
    gap: 100px;
    justify-content: center;
}

@media (max-width: 767px) {
    .img-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        /* Adjust the gap as needed */
    }

    .img-container>div {
        text-align: center;
    }

    .doctorimg {
        width: 180px;
        height: 180px;
    }


    .grid-container {
        grid-template-columns: auto auto;
    }

    .abc {
        flex-direction: column;
        gap: 0px;
        /* justify-content: ; */

    }

    .map {
        height: 300px;
    }

    .mapx {
        width: 100%;
        height: 100%;
    }

    .info {
        width: 100%;
        height: auto;
    }

    .review {
        width: 100%;
    }

    .nav-header {
        gap: 15px;
    }



}


@media screen and (min-width: 768px) {
    .container p {
        max-width: 40rem;
    }
}

/* sections and title */
.title h2 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
}



.social-icons img {
    transition: 0.5s ease;
    width: 25px;
    height: 25px;
}


.social-icons img:hover {
    transform: scale(1.3);

}

#about,
#services,
#reviews,
#cures,
#contact {
    height: auto;
}

/* #contact h2 {
  margin: 20px;
} */


#services {
    background: var(--clr-white);
}

#contact {
    background: var(--clr-grey-10);


}

#reviews {
    background-color: var(--clr-white);
}

#appointment {
    background-color: #49a6e9;
    border-radius: 20px;
    color: var(--clr-white);
    border: none;
    padding: 0.5rem 1rem;
    box-shadow: var(--light-shadow);

}


.abc {
    display: flex;
    /* flex-direction: row; */
    gap: 100px;
    justify-content: center;
}



footer {
    background: var(--clr-grey-1);
    padding: 5rem 1rem;
}

footer p {
    color: var(--clr-white);
    text-align: center;
    letter-spacing: var(--spacing);
    margin-bottom: 0;
}

.top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: var(--clr-secondary);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: var(--radius);
    color: var(--clr-white);
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
}

.show-link {
    visibility: visible;
    z-index: 100;
}


.mainHeading {
    color: #1f2023;
    font-size: 17px;
    font-weight: 600;

}

hr {
    border: 1px solid var(--clr-grey-5);
    margin-top: 8px;
    margin-bottom: 10px;
}

.review__avatar img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.review {
    /* height: auto; */
    min-height: 365px;
    margin: 20px;
    display: flex;
    padding-bottom: 10px;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    background: var(--clr-white);
    position: relative;

}



.review-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    position: absolute !important;
    bottom: 10px !important;
    left: 30% !important;

}


.prev-btn,
.next-btn {
    color: var(--clr-primary-7);
    font-size: 1.25rem;
    background: transparent;
    border-color: transparent;
    margin: 0 0.5rem;
    transition: var(--transition);
    cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
    transform: scale(1.15);
}

.review__headerText h3 {
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.review__headerDescription {
    margin-bottom: 10px;
    font-size: 17px;
    width: 420px;
}

.review__body {
    flex: 1;
    padding: 10px;
    position: relative;
}

.review__avatar {
    padding: 20px;
}

.checked {
    color: orange;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}



@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
    background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url(../img/group-of-doctors.jpg) center/cover no-repeat;
        background-size: cover;
    height: 100%;
    background-attachment: fixed;
}

#feedback-page {
    text-align: center;
}

#form-main {
    width: 100%;
    float: left;
    padding-top: 0px;
}

#form-div {
    background-color: #ffffff;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 450px;
    margin: 15px auto; /* Center the element horizontally using auto margin */
    border-radius: 10px;
}


.selectpicker {
    color: #3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 35px;
    width: 100%;
    border: 0.0625rem solid rgba(33, 50, 91, 0.1);
    border-radius: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.selectpicker:focus {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    outline: none;
    padding: 13px 13px 13px 54px;
}






/* Icons ---------------------------------- */
#name {
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#name:focus {
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email {
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email:focus {
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#comment {
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    background-color: white;
}

#button-blue {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float: left;
    width: 100%;
    cursor: pointer;
    color: #fff;
    background-color: #21325b;
    border-color: #21325b;
    border: none;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

#button-blue:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #1c2745;
    border-color: #1c2745;
}


.feedback-input {
    color: #3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0.0625rem solid rgba(33, 50, 91, 0.1);
    border-radius: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.feedback-input:focus {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    outline: none;
    padding: 13px 13px 13px 54px;
}



@media only screen and (max-width: 580px) {
    #form-div {
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}
